<!-- 회원가입 화면의 view -->

<!DOCTYPE HTML>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home/login.css">
    <script src="/js/home/login.js" defer></script>
</head>
<body>
    <div class="login-page">
      <div class="form">
        <form class="login-form">
            <input id="id" type="text" placeholder="id"/>
            <input id="name" type="text" placeholder="name"/>
            <input id="pw" type="password" placeholder="password"/>
            <input id="confirm-pw" type="password" placeholder="password confirm"/>
            <button>SIGN UP</button>
            <p class="message">Already registered? <a href="/login">Login</a></p>
        </form>
      </div>
    </div>
</body>
</html>

<!-- Copyright (c) 2021 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy) -->